

web/.next/
web/out/
web/.env.local
web/.env*.local
web/node_modules
web/coverage
api/coverage


api/dist/
api/.env
api/.env.
api/node_modules
web/AGENTS.md
web/CLAUDE.md

web/package-lock.json
api/package-lock.json

web/pnpm-lock.yaml
api/pnpm-lock.yaml
web/pnpm-workspace.yaml
api/pnpm-workspace.yaml