@use '@/styles/variables' as *;

.section {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
}

.title {
  font-size: $font-xl;
  font-weight: 700;
  color: $gray-900;
}

.highlight {
  color: $red;
}

.list {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
}
